<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
  <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
  <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
  <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
  <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
</div>

<div id="wrapper">

  <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
      <div id="header" class="nav-collapse">
          <div class="row clearfix">
              <div class="col-1">

                  <!--Logo-->
                  <div id="logo">

                      <!--Logo that is shown on the banner-->
                      <img src="assets/images/logo.png" id="banner-logo" alt="Landing Page"/>
                      <!--End of Banner Logo-->

                      <!--The Logo that is shown on the sticky Navigation Bar-->
                      <img src="assets/images/logo-2.png" id="navigation-logo" alt="Landing Page"/>
                      <!--End of Navigation Logo-->

                  </div>
                  <!--End of Logo-->

                  
                  <!--Main Navigation-->
                  <nav id="nav-main">
                      <ul>
                          <li>
                              <a href="#banner">Accueil</a>
                          </li>
                          <li>
                              <a href="#about">Produits</a>
                          </li>
                          <li>
                              <a href="#clients">Contacts</a>
                          </li>
                          
                      </ul>
                  </nav>
                  <!--End of Main Navigation-->

                  <div id="nav-trigger"><span></span></div>
                  <nav id="nav-mobile"></nav>

              </div>
          </div>
      </div><!--End of Header-->

      <!--Banner Content-->
      <div id="banner-content" class="row clearfix">

          <div class="col-38">

              <div class="section-heading">
                  <h1>COLORPACK</h1>
                  <h2>COLORPACK est spécialisée dans la vente en détails ou en gros des machines de presse et de découpe,de consommables et produits chimiques des imprimeries.<br><br>
                    Notre savoir faire repose sur nos compétences terrain et des personnels exprimentés et motivés.<br>

                    Nous assurons l'ensemble des vos besoins et vous proposons une gamme de produits certifiés à l'échelle internationale, la plus meilleure à l'impression offset et répondant à vos attentes.<br>
                    <br>

                    Notre philosophie est de réaliser des prestations de qualité dans une recherche constante de la satisfaction du client.<br>
                    <br>
                    Nos valeurs sont le savoir-faire et qualité, engagement, responsabilité, confiance et proximité.
                  </h2>
              </div>

          </div>

      </div><!--End of Row-->
  </header>

  <!--Main Content Area-->
  <main id="content">

      <!--Introduction-->
      <section id="about" class="introduction scrollto">

          <div class="row clearfix">

              <div class="col-3">
                  <div class="section-heading">
                      <h3>Catègorie 1</h3>
                      <h2 class="section-title">Consommables imprimerie de ColorPack</h2>
                  </div>

              </div>

              <div class="col-3-3">

                  <!--Icon Block-->
                  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                      <!--Icon-->
                      <div>
                        <a href="assets/images/pics/blanchet.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                        data-wow-delay="0.1s"><img src="assets/images/pics/blanchet.jpg" alt="Landing Page"/></a>
                      </div>
                      <!--Icon Block Description-->
                      <div class="icon-block-description">
                          <h4>Blanchet</h4>
                          <p>Deux blanchets avec ou sans bars en deux coleurs <br> violet et bleu</p>
                      </div>
                  </div>
                  <!--End of Icon Block-->

                  <!--Icon Block-->
                  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                      <!--Icon-->
                      <div>
                        <a href="assets/images/pics/filets.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                        data-wow-delay="0.1s"><img src="assets/images/pics/filets.jpg" alt="Landing Page"/></a>
                      </div>
                      <!--Icon Block Description-->
                      <div class="icon-block-description">
                          <h4>Filet de découpe</h4>
                          <p>Des filets coupeurs et des filets raineurs</p>
                      </div>
                  </div>
                  <!--End of Icon Block-->

                  <!--Icon Block-->
                  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                      <!--Icon-->
                      <div>
                        <a href="assets/images/pics/contrePartie.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                        data-wow-delay="0.1s"><img src="assets/images/pics/contrePartie.jpg" alt="Landing Page"/></a>
                      </div>
                      <!--Icon Block Description-->
                      <div class="icon-block-description">
                          <h4>Contre Partie</h4>
                          <p>Dynamique ou statique</p>
                      </div>
                  </div>
                  <!--End of Icon Block-->

                  <!--Icon Block-->
                  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                      <!--Icon-->
                      <div>
                        <a href="assets/images/pics/plaques.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                        data-wow-delay="0.1s"><img src="assets/images/pics/plaques.jpg" alt="Landing Page"/></a>
                      </div>
                      <!--Icon Block Description-->
                      <div class="icon-block-description">
                          <h4>Plaques</h4>
                          <p>Plaques conventionelles, plaques CTP violet <br>et plaques CTP thermique</p>
                      </div>
                  </div>
                  <!--End of Icon Block-->

                  <!--Icon Block-->
                  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                    <!--Icon-->
                    <div>
                      <a href="assets/images/pics/VERNIS.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                      data-wow-delay="0.1s"><img src="assets/images/pics/VERNIS.jpg" alt="Landing Page"/></a>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>Vernis</h4>
                        <p>Vernis acrylique ou UV</p>
                    </div>
                </div>
                <!--End of Icon Block-->

              </div>

          </div>




          <div class="row clearfix">

            <div class="col-3">
                <div class="section-heading">
                    <h3>Catègorie 2</h3>
                    <h2 class="section-title">Produits chimiques</h2>
                </div>

            </div>
            
            <div class="col-3-3">
                <div>
                    <h3>Additifs pour eau de mouillage</h3> 
               </div>
               
                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                    <!--Icon-->
                    <div>
                      <a href="assets/images/pics/bacoChemical.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                      data-wow-delay="0.1s"><img src="assets/images/pics/bacoChemical.jpg" alt="Landing Page"/></a>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>BACOFOUNT XAR</h4>
                        <p> 
                            
                        </p>
                        <ul>
                            <li> Additif universel pour eau de mouillage pour offset à feuilles.</li>
                            <li> Il permet un excellent équilibre eau/ encre avec possibilité de réduction du taux d’alcool.</li>
                          </ul>
                    </div>
                </div>
                <!--End of Icon Block-->

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                    <!--Icon-->
                    <div>
                      <a href="assets/images/pics/bacoChemical.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                      data-wow-delay="0.1s"><img src="assets/images/pics/bacoChemical.jpg" alt="Landing Page"/></a>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>BACOFOUNT XTP</h4>
                        <ul>
                            <li> Additif d’eau de mouillage spécialement conçu pour les offset à feuilles à haute vitesse, avec réduction d’alcool considérable de 3-6 %.</li>
                            <li> Bien adapté aux eaux dures qu’aux eaux osmosées,  élimine tous les problèmes de voiles.</li>
                          </ul>

                    </div>
                </div>
                <!--End of Icon Block-->

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                    <!--Icon-->
                    <div>
                      <a href="assets/images/pics/bacoChemical.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                      data-wow-delay="0.1s"><img src="assets/images/pics/bacoChemical.jpg" alt="Landing Page"/></a>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>BACOFOUNT  W32 i</h4>
                        <ul>
                            <li> Additif d’eau de mouillage pour machines offset rotatives ( coldset) pour impression des journaux.</li>
                            <li> Bien adapté aussi aux rotatives à grande vitesse, et permettent un excellent rendu d’impression.</li>
                          </ul>
                    </div>
                </div>
                <!--End of Icon Block-->
            </div>

            
            <div class="col-3-3">
                <div>
                    <h3>Produits de nettoyage et de lavage</h3>  
                </div>
              <!--Icon Block-->
              <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                  <!--Icon-->
                  <div>
                    <a href="assets/images/pics/bacoChemical.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                    data-wow-delay="0.1s"><img src="assets/images/pics/bacoChemical.jpg" alt="Landing Page"/></a>
                  </div>
                  <!--Icon Block Description-->
                  <div class="icon-block-description">
                      <h4>BACOWASH 60
                        </h4>
                        <ul>
                            <li>Produits de lavage des rouleaux et des blanchets (automatique et manuel), avec très bon pouvoir de nettoyage.</li>
                            <li> Miscible à l’eau jusqu’à un rapport 1 :3. Contient inhibiteur de corrosion.</li>
                            <li> Point d’éclair supérieur à 60° C.</li>
                          </ul>
                  </div>
              </div>
              <!--End of Icon Block-->

              <!--Icon Block-->
              <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                  <!--Icon-->
                  <div>
                    <a href="assets/images/pics/bacoChemical.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                    data-wow-delay="0.1s"><img src="assets/images/pics/bacoChemical.jpg" alt="Landing Page"/></a>
                  </div>
                  <!--Icon Block Description-->
                  <div class="icon-block-description">
                      <h4>BACOWASH 40</h4>
                      <ul>
                          <li> Produits de lavage des rouleaux et des blanchets (automatique et manuel), avec très bon pouvoir de nettoyage.</li>
                          <li> Miscible à l’eau jusqu’à un rapport 1 :3. Contient inhibiteur de corrosion.</li>
                          <li> Point d’éclair supérieur à 60° C.</li>
                        </ul>
                  </div>
              </div>
              <!--End of Icon Block-->

              <!--Icon Block-->
              <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                  <!--Icon-->
                  <div>
                    <a href="assets/images/pics/bacoChemical.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                    data-wow-delay="0.1s"><img src="assets/images/pics/bacoChemical.jpg" alt="Landing Page"/></a>
                  </div>
                  <!--Icon Block Description-->
                  <div class="icon-block-description">
                      <h4>BACOFRESH  2033
                        </h4>
                      <ul>
                        <li> Régénérateur des rouleaux et des blanchets.</li>
                      </ul>
                  </div>
              </div>
              <!--End of Icon Block-->

              
            </div>


            <div class="col-3-3">
                <div>
                    <h3>Produits pour plaques Offset
                      </h3>  
                </div>
              <!--Icon Block-->
              <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                  <!--Icon-->
                  <div>
                    <a href="assets/images/pics/bacoChemical.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                    data-wow-delay="0.1s"><img src="assets/images/pics/bacoChemical.jpg" alt="Landing Page"/></a>
                  </div>
                  <!--Icon Block Description-->
                  <div class="icon-block-description">
                      <h4>BACO PLATE GUM
                        </h4>
                        <ul>
                            <li> Solution de gomme pour la protection des plaques contre l’oxydation.</li>
                            <li> Adaptée pour l’utilisation manuelle et automatique et pour tout type de plaques.</li>
                          </ul>
                  </div>
              </div>
              <!--End of Icon Block-->

              <!--Icon Block-->
              <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                  <!--Icon-->
                  <div>
                    <a href="assets/images/pics/bacoChemical.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                    data-wow-delay="0.1s"><img src="assets/images/pics/bacoChemical.jpg" alt="Landing Page"/></a>
                  </div>
                  <!--Icon Block Description-->
                  <div class="icon-block-description">
                      <h4>BACO PLATE CLEANER
                        </h4>
                        <ul>
                            <li>  Désoxydant universel des plaques.  Il nettoie d’une manière excellente la plaque en conservant les trames fines.</li>
                      
                          </ul>
                  </div>
              </div>
              <!--End of Icon Block-->

              <!--Icon Block-->
              <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                  <!--Icon-->
                  <div>
                    <a href="assets/images/pics/bacoChemical.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                    data-wow-delay="0.1s"><img src="assets/images/pics/bacoChemical.jpg" alt="Landing Page"/></a>
                  </div>
                  <!--Icon Block Description-->
                  <div class="icon-block-description">
                      <h4>BACO CTP DEVELOPPER XP
                        </h4>
                        <ul>
                            <li>   Développeur et régénérateur des plaques CTP. IL marche avec toutes les plaques CTP et toutes les marques de développeuses et les CTP.</li>
                          </ul>
                  </div>
              </div>
              <!--End of Icon Block-->

              <!--Icon Block-->
              <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                  <!--Icon-->
                  <div>
                    <a href="assets/images/pics/bacoChemical.jpg" data-featherlight="image" class="col-3 wow fadeIn"
                    data-wow-delay="0.1s"><img src="assets/images/pics/bacoChemical.jpg" alt="Landing Page"/></a>
                  </div>
                  <!--Icon Block Description-->
                  <div class="icon-block-description">
                      <h4>BACO DEVELOPPER  1 :9
                        </h4>
                        <ul>
                            <li>   Développeur des plaques conventionnelles. A mélanger à raison de 1 :9.

                              </li>
                          </ul>
                  </div>
              </div>
              <!--End of Icon Block-->

            </div>
        </div>

      </section>
      <!--End of Introduction-->


    


      <!--Content Section-->
      
      <!--End of Content Section-->

    


      <!--Clients-->
      <section id="clients" class="scrollto clearfix">
          <div class="row clearfix">

              <div class="col-3">

                  <div class="section-heading">
                      <h3>Contacts</h3>
                      <h2 class="section-title">Merci de votre confiance</h2>
                      <div class="section-subtitle">
                        
                          <b>Adresse : </b> Z.I.M'ghira II-lot 57- Fouchana 2082 Ben Arous- Tunisie <br>
                          <b>Tél : </b> +216 79 40 88 28 <br>
                          <b>Mobile : </b> 58 11 51 15 <br>
                          <b>Mail : </b> <br>colorpack@colorpack-international.com <br> Colorpack@gnet.tn
                      </div>
                  </div>

              </div>

          </div>
      </section>
      <!--End of Clients-->

      

  </main>
  <!--End Main Content Area-->


  <!--Footer-->
  <footer id="landing-footer" class="clearfix">
      <div class="row clearfix">

          <p id="copyright" class="col-2">Copyrights &#9400; Louay Dhyeb</p>

          <!--End of Social Icons in Footer-->
      </div>
  </footer>
  <!--End of Footer-->

</div>